@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

.navbar {
  background-color: white;
}

.navbar-toggler {
  background-color: #F8F9FA;
}

a.nav-link {
  margin-right: 100px !important;
}

.nav-link {
  font-size: 1.6em;
  color: #086F00 !important;
  font-family: 'Vollkorn', serif;
  letter-spacing: 2px;
  font-weight: 550;
  margin-top: 3%;
}

.nav-link:hover {
  color: #333333 !important;
}

.space {
    margin-top: 300px;
}

.footer {
    height: 110px;
    background-color: #243c22;
    color: white;
}

.count {
    background-color: #222f21;
    height: 40px;
    color: white;
    width: 50%;
}

.counter-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 480px) {
  .counter-title {
    font-size: 1rem;
  }
}

.card {
  margin: 15px;
}

.card-title {
    padding: 2px 2px;
}

.jumbotron-title {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Vollkorn', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #086F00;
    font-weight: 550;
}

.MuiFilledInput-input {
    padding: 27px 12px 10px;
    color: green !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.fields {
  margin-bottom: 20px;
}

.sub-title {
  color: #086F00;
  letter-spacing: 0.5px;
  font-family: 'Vollkorn', serif;
  text-align: center;
}

.sub-title-alert {
  color: red;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Vollkorn', serif;
  text-align: center;
}

.MuiButton-label {
    width: 100px;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: #086F00 !important;
}

.cat-text {
  font-size: 1.1em;
  text-align: justify;
  padding: 2px 10px 10px 10px;
}

.card-title {
  height: 60px;
}

.map-sub-title {
  position: absolute;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Vollkorn', serif;
  z-index: 10;
  margin: 5px;
  padding: 5px;
}

.error-field {
  color: #c70039;
}

.valid-field {
  color: #a2de96;
}

.session-info {
  letter-spacing: 1px;
  font-family: 'Roboto';
  color:  #333333;
}

.request-field {
  /* width: 350px; */
}

.info-title {
  color: #086F00;
  font-family: 'Vollkorn', serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
}

.info-text {
  color: #333333;
  font-family: 'Roboto';
  text-align: justify;
}

.alert-success {
  font-family: 'Vollkorn', serif;
  color: #013220;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: uppercase;
}

.alert-fail {
  font-family: 'Vollkorn', serif;
  color: black;
  letter-spacing: 1px;
  font-weight: 500;
}

.background_style {
  margin-top: 12px;
  background-color: #f2f2f2;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #e0e0e0;
  bottom: 0;
}

.background_style_custom {
  background-color: #f2f2f2;
  bottom: 0;
}

.contribute {
  background-color: #086f0063;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    padding: 25px 25px;
}

.container_legend {
  background: rgb(255 93 93 / 70%);
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden
}

.container_legend_green {
  background: #086f0038;
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden
}

.img_legend {
  width:100%;
}

.col_form{
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
}

.card_form{
  padding-left: 10px;
}

.card_link {
  color: #222f21 !important;
}

.signout:hover {
  color: white !important;
  background-color: #222f21 !important;
  cursor: pointer;
}

.loggedin_title {
  font-size: 1,5em !important;
  color: #222f21 !important;
}

.conversations {
  background-color: #BACCB1;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.chats {
  background-color: #D6D5D5;
}

.conversation {
  background-color: #D6D5D5;
  height: 60px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.conversation:hover {
  cursor: pointer;
  background-color: #222f21;
  color: white;
}

.conversation__person {
  font-size: 1.5em !important;
  font-family: 'Vollkorn', serif;
}

.blue-message {
  background-color: #28abb9;
  width: 300px;
  border-radius: 5px;
}

.green-message {
  background-color: #b8de6f;
  width: 300px;
  border-radius: 5px;
}
