@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

a.nav-link {
  margin-right: 100px !important;
}

.nav-link {
  font-size: 2.5em;
  color: #086F00 !important;
  font-family: 'Vollkorn', serif;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #333333 !important;
}

.space {
    margin-top: 300px;
}

.footer {
    height: 200px;
    background-color: #F8F9FA;
    color: #086F00;
}

.count {
    background-color: #333333;
    height: 100px;
    color: white;
}

.card-title {
    padding: 2px 2px;
}

.jumbotron-title {
    text-align: center;
    font-size: 3em;
    font-family: 'Vollkorn', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #086F00;
}

.MuiFilledInput-input {
    padding: 27px 12px 10px;
    color: green !important;
    font-weight: bold !important;
    letter-spacing: 2px !important;
}

.fields {
  margin-bottom: 20px;
}

.sub-title {
  color: #086F00;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Vollkorn', serif;
  text-align: center;
}

.MuiButton-label {
    width: 100px;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: #086F00 !important;
}

.cat-text {
  font-size: 1.2em;
  text-align: justify;
}

.card-title {
  height: 60px;
}
