@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

a.nav-link {
  margin-right: 100px !important;
}

.nav-link {
  font-size: 2.5em;
  color: #086F00 !important;
  font-family: 'Vollkorn', serif;
  letter-spacing: 2px;
}

.nav-link:hover {
  color: #333333 !important;
}

.space {
    margin-top: 300px;
}
